<h1>Tasks#edit</h1>
<p>Find me in app/views/tasks/edit.html.erb</p>

<!-- <form action="/tasks" method="post">
  <label for="content">Content:</label>
  <input type="text" name="task[content]" id="content" value="Go to the supermarket">

  <label for="date_of_creation">Date of Creation:</label>
  <input type="text" name="task[date_of_creation]" id="date_of_creation" value="12/09/2017">

  <input type="submit">
</form> -->

<%= render 'form' %>
