<h1>Tasks#new</h1>
<p>Find me in app/views/tasks/new.html.erb</p>

<!-- <form action="/tasks" method="post">
  <label for="content">Content:</label>
  <input type="text" name="task[content]" id="content">

  <label for="date_of_creation">Date of Creation:</label>
  <input type="text" name="task[date_of_creation]" id="date_of_creation">

  <input type="submit">
</form> -->

<%= render 'form' %>
